@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  /* margin: 0; */
  display: flex;
  /* place-items: center; */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  /* background-color: rgb(208, 2, 2); */
  background-color: black;
  box-sizing: border-box;
}

.data {
  color: white;
  position: absolute;
}

.webgl {
  margin: 0;
  padding: 0;
  /* position: fixed;
  z-index: 1; */
  /* overflow: hidden; */
  pointer-events: all;
  cursor: cell;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 2%;


}

nav div {
  cursor: pointer;
}

.logo h1 {
  font-family: kalam;
  font-size: 30px;
}

.button {
  margin-right: 4%;
  align-self: center;
}

nav button {
  border-radius: 10px;
  padding: 1vh 1vw;
  border: none;
  background-color: rgba(116, 116, 116, 0.549);
  text-transform: capitalize;
  font-size: 20px;
  color: white;
}

.navitem {
  align-self: center;
}

.navitem ul {
  display: flex;
  list-style: none;
  gap: 5vw;
  font-size: 20px;
  text-transform: capitalize;

}

.main {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
}

.main h1 {
  font-size: 50px;
}

.main span {
  color: rgb(255, 234, 0);
  font-size: 55px;
}

.main h4 {
  margin: 2vh 0vh 4vh 0vh;
  text-align: center;
  font-weight: 400;
  /* font-size: 20px; */
}

.main button {
  background-color: rgb(255, 234, 0);
  box-shadow: 0px 0px 30px rgba(255, 255, 0, 0.575);
  border: none;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 1vw 1vw;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

.cursor,
.cursor1,
.cursor2,
.cursor3 {
  background-color: rgba(255, 166, 0, 0.7);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: cell;
  pointer-events: none;
  /* touch-action: none; */
}

.cursor1 {
  background-color: rgba(247, 165, 13, 0.6);
}

.cursor2 {
  background-color: rgba(255, 166, 0, 0.5);
}

.cursor3 {
  background-color: rgba(255, 166, 0, 0.4);
}

button{
  cursor: pointer;
}

@media screen and (max-width:600px) {

  body {
    /* width: 100%; */
    /* height: 100%; */
  }

  nav {
    /* width: 100%; */
  }

  .navitem {
    margin: 0;
    /* font-size: 10px; */
  }

  .navitem ul {
    display: flex;
    list-style: none;
    gap: 4vw;
    font-size: 12px;
    text-transform: capitalize;
    margin: 2vw;
    /* white-space: nowrap; */
  }

  .main {
    width: 80%;
  }

  .main h1 {
    text-align: center;
    font-size: 35px;
  }

  .main span {
    font-size: 40px;
  }

  .main button {
    padding: 2vw 2vw;
  }

  .button button {
    /* margin: 0; */
    /* margin-right: 20px; */
    font-size: 18px;
    /* white-space: nowrap; */
  }

  .webgl {
    /* min-width: 50px;
    min-height: 50px; */
    width: 100%;
    height: 100%;
  }

}